[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
  ignore = all
[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = .vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
