/bundle/*
!/bundle/repos
/bundle/repos/*
!/bundle/repos/github.com
/bundle/repos/github.com/*
!/bundle/repos/github.com/Shougo
/bundle/repos/github.com/Shougo/*
!/bundle/repos/github.com/Shougo/dein.vim
.netrwhist

